<footer>
    <p>© 2025 Fit and Flow | Designed by Peter Akintunde-Yale | UNC Charlotte</p>
  
    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
      <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
    </a>
  
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
      <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>
  

  </footer>