<h1>Peter Akintunde-Yale || Persistent Cheetah|| ITIS 3135</h1>
        <nav>
            <a href="./">Home</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/business/index.html">Business page</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/peter-enterprises.co/index.html">My Design Firm site</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/business/index.html">Business page</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/website.html">Website Evaluations</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/itis3135/tables.html">Tables Page</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/itis3135/byo_intro.html">BYO Intro</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/pageoverview.html">Client Site Overview</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/itis3135/drawing.html">Drawing</a>



        </nav>

        <nav>
            <ul>
                <li><a href="https://webpages.charlotte.edu/pakintun/stuff/CRAP&PAGE.htm">Crappy Page</a></li>  
            </ul>
        </nav>
