<h1>Peter Akintunde-Yale || Persistent Cheetah|| ITIS 3135</h1>
        <nav>
            <a href="./">Home</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/business/index.html">Business page</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/peter-enterprises.co/index.html">My Design Firm site</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/business/index.html">Business page</a>
            ||
            <a href="https://webpages.charlotte.edu/pakintun/business/index.html">Business page</a>


        </nav>

        <nav>
            <ul>
                <li><a href="https://webpages.charlotte.edu/pakintun/stuff/CRAP&PAGE.htm">Crappy Page</a></li>  
            </ul>
        </nav>
